<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto - EJS</title>
    <link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
    <%- include('./scripts'); %>
  </head>
  <body>
    
    <section class="container d-flex flex-column">

      <div class="container w-50 bg-primary bg-opacity-10 d-flex flex-column gap-4 m-5 p-5 mx-auto border rounded border-primary">
        <h1 class="text-primary fs-3">Ingrese los datos de Producto</h1>
        <form class="container w-75 d-flex flex-column gap-4" action="/" method="POST">
          <input class="form-control" type="text" name="title" placeholder="Ingrese nombre">
          <input class="form-control" type="text" name="price" placeholder="Ingrese precio">
          <input class="form-control" type="text" name="thumbnail" placeholder="Ingrese url de imagen">
          <input class="btn btn-primary w-50 mx-auto" type="submit" value="Enviar">
        </form>
        <a class="" href="/products">
          <button class="btn btn-success btn-sm">Ver Productos</button>
        </a>
      </div>
  
      <div class="border border-warning rounded p-3 m-5 bg-warning bg-opacity-10">
        <div class="border-bottom border-warning p-3">
          <h2>Productos Agregados</h2>
        </div>
          
            <table class="table my-5">
              <thead>
                <tr class="text-start">
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Foto</th>
                </tr>
              </thead>
              <tbody id="productList"></tbody>
            </table>
          
      </div>

    </section>

  </body>
</html>